<div class="container">
  <div class="row">
    <div class="col-sm-6">
<h1>Welcome to<span class="glyphicon glyphicon-book welcome-text" aria-hidden="true"><strong>Bookers!</strong></span></h1>
</div>
</div>
</div>