
<div class="top-pgae">
	<div class="top-text" >
		<h1>Welcome to<span class="glyphicon glyphicon-book welcome-text" aria-hidden="true"><strong>Bookers!</strong></span></h1>
			<p>In <span class="glyphicon glyphicon-book welcome-text" aria-hidden="true"><strong>Bookers!</strong></span>,</br>
			you can share and exchange your opinions , inpressions , and emotions</br>
			about varioius books!</p>
			<button type="button" class="btn btn-info btn-block" url="/users/sign_in">
			<%=link_to "Log in",new_user_session_path, class: "sign_in" %></button>

			<button type="button" class="btn btn-success btn-block">
			<%=link_to "Sign up",new_user_registration_path, class: "sign_up" %></button>
	</div>
</div>