/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
    @import "bootstrap";

.last-comment{
	float:right;
	margin-right: 200px;
}
.top-page{
	width:100%;
}
.top-text{
	width:40%;
	margin:0 auto;
}
li{
	margin-right: 25px;
}
.glyphicon {
	color:#C6D1EC;
}

.welcome-text{
	color:black;
}
.book_title,.book_body{
	width:100%;
}
.book_submit{
	width:100%;
	background-color:lightblue;
}